body{
    background-image: url("./images/bg4.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /*Resize the background image to cover the entire container*/
    background-attachment: fixed; /*Keep the Background Image fixed even on scrolling*/
    background-color: #FFF;
}


